// VARIABLES

// COLORS
$color-primary: #ffffff;
$color-secondary: #33658A;
$color-tertiary: #aaaaaa;

$color-danger: #ff0000;
$color-success: #00ff00;
$color-warning: #ffff00;

$color-white: #fff;
$color-black: #000;

// FONT-WEIGHT
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// FONT-DECORATION
$font-decoration-none: none;
$font-decoration-underline: underline;
$font-decoration-overline: overline;

// BORDER
$border-radius: 0.5rem;
$border-width: 0.1rem;
$border-style: solid;